<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/TheDavid/Dropbox/School/SSU/Classes/Spring 2014/CS470/Projects/Project1/TennisInObjectiveC/TennisInObjectiveC.xcodeproj</string>
</dict>
</plist>
